<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title th:text="${'Прайс материалов ' + cityName}"></title>
    <link href="/styles.css" rel="stylesheet">
    <link type="image/png" sizes="192x192" rel="icon" href="/favicon-192x192.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png">
  </head>
  <body>

    <div th:insert="blocks/head :: ${head}"></div>
    <div class="page" align="center">
      <a class="" style="width: 100%;" target="_blank" th:href="@{/price-list/mats/} + ${cityAbbr} + @{/print}"> <span class="print"></span> </a>
      <br>

      <form class="" style="padding: 0;" th:action="@{/price-list/mats/} + ${cityAbbr} + @{/to-edit}" method="get">
        <input type="text" name="back" th:value="${'/price-list/mats/' + city + '/sections'}" hidden>
        <input class="topButton headerBlur formBase" style="width: calc(100% - 130px); display: inline-block; margin: 0;" list="priceMats" name="priceMat" onchange="resetIfInvalid(this);" placeholder="К изменению материала" required>
        <datalist id="priceMats" required="required">
            <option class="formBase" th:each="priceMat : ${allPriceMats}"  th:value="${priceMat.getNormName()}"></option>
        </datalist>
        <input class="formBase headerBlur topButton" style="width: 100px; display: inline-block; margin: 0;" type="submit" value="Ввод">
      </form>
      <br>

      <form class="" style="padding: 0;" th:action="@{/price-list/mats/} + ${cityAbbr} + @{/new-price-mat}" method="get">
        <input type="text" name="back" th:value="@{/price-list/mats/} + ${cityAbbr} + @{/sections}" hidden>
        <input class="topButton headerBlur regularBorder hov" style="height: 50px; cursor: pointer; text-decoration: underline;" type="submit" value="Добавить материал">
      </form>
      <br>

      <div th:each="section : ${sections}">
          <a class="topButton hov" style="text-decoration: none; margin: 0;" th:href="@{/price-list/mats/} + ${cityAbbr} + @{/sections/section/} + ${section.getId()}"><p class="topDivForButton regularBlur regularBorder" style="margin: 0; padding: calc(10px + 0.4em);" align="center" th:text="${section.getName()}"></p></a>
          <br>
      </div>

    </div>
    <script>
      function resetIfInvalid(el){
         //just for beeing sure that nothing is done if no value selected
         if (el.value == "")
             return;
         var options = el.list.options;
         for (var i = 0; i< options.length; i++) {
             if (el.value == options[i].value)
                 //option matches: work is done
                 return;
         }
         //no match was found: reset the value
         el.value = "";
      }
    </script>
  </body>
</html>
