<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>ПРОДАЖИ</title>
    <link href="/styles.css" rel="stylesheet">
    <link type="image/png" sizes="192x192" rel="icon" href="/favicon-192x192.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png">
  </head>
  <body>

      <div th:insert="blocks/head :: ${head}"></div>
      <div class="page" align="center">

        <br><br>

        <div th:insert="blocks/timeTracking :: ${timeTracking}"></div>
        <br>

        <div class="regularDiv regularBorder regularBlur ourFont" align="center">
          <div class="chapterInMenu" id="theLowest">
            <a href="/tasks">Задачи</a>
          </div>
        </div>
        <br>

        <div class="regularDiv regularBorder regularBlur ourFont" align="center">
          <div class="chapterInMenu">
            <a href="/all-objects">Объекты</a>
          </div>
          <div class="chapterInMenu" id="theLowest">
            <a href="/statistics">Статистика</a>
          </div>
          <div class="chapterInMenu" id="theLowest">
            <a href="/info">Справка</a>
          </div>
        </div>

        <br>
      </div>
      </body>
</html>
