<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title th:text="${object.getNormName()}"></title>
    <link href="/styles.css" rel="stylesheet">
    <link type="image/png" sizes="192x192" rel="icon" href="/favicon-192x192.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png">
  </head>
  <body>

    <div th:insert="blocks/head :: ${head}"></div>
    <div class="page" align="center">
      <br>

      <form class="" style="padding: 0;" th:action="@{/objects/object/edit/} + ${object.getId()}" method="post">
      <div class="regularBorder" style="display: flex; align-items: center; flex-wrap: wrap;">
        <h3 class="headerOfDiv headerBlur" style="padding: 10px;" th:text="${object.getNormName()}"></h3>
        <div class="bodyOfDiv regularBlur" style="">

            <div class="border-bottom" style="display: block; padding: 10px;" align="center">

              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="text" placeholder="Улица" name="street" th:value="${object.getStreet()}" required>
              <br>
              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="text" placeholder="Район" name="district" th:value="${object.getDistrict()}" required>
              <br>
              <input class="formBase" style="width: 100px; max-width: calc(100% - 20px);" type="text" placeholder="Дом" name="building" th:value="${object.getBuilding()}" required>
              <select class="formBase" style="width: 100px; max-width: calc(100% - 20px);" name="city" required>
        					<option class="formBase" th:each="city : ${cities}" th:selected="${object.getCity().getAbbr() == city.getKey()}"  th:value="${city.getKey()}" th:text="${city.getValue()}"></option>
        			</select>

            </div>
            <div class="" style="display: block; padding: 10px;" align="center">
              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="text" placeholder="ФИО Заказчика" name="custName" th:value="${object.getCustName()}">
              <br>
              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="phone" placeholder="Номер Заказчика" name="custPhone" th:value="${object.getCustPhone()}">
              <br>
              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="email" placeholder="Почта Заказчика" name="custEmail" th:value="${object.getCustEmail()}">
              <br>
              <textarea class="formBase" style="width: 400px; max-width: calc(100% - 20px); margin: 0px;" rows="4" placeholder="Примечание" name="note" th:text="${object.getNote()}"></textarea>

            </div>
            <div class="border-top" style="display: block; padding: 10px;" align="center">
              <input class="formBase" style="width: 400px; max-width: calc(100% - 20px);" type="text" placeholder="Наименование работ" name="works" th:value="${object.getWorks()}">
            </div>
            <div class="border-top" style="display: block; padding: 10px;" align="center">

              <label for="">ПТО:</label>
              <input class="formBase" list="ptos" name="pto" th:value="${object.getPto().getId() + ': ' + object.getPto().getNormName()}" onchange="resetIfInvalid(this);" placeholder="Назначить ПТО" required>
              <datalist id="ptos">
                  <option class="formBase" th:each="pto : ${ptos}" th:value="${pto.getId() + ': ' + pto.getNormName()}"></option>
              </datalist>

              <br>
              <label for="">Маст:</label>
              <input class="formBase" list="masters" name="master" th:value="${object.getMaster() == null ? '' : object.getMaster().getId() + ': ' + object.getMaster().getNormName()}" onchange="resetIfInvalid(this);" placeholder="Назначить мастера">
              <datalist id="masters">
                  <option class="formBase" th:each="master : ${masters}" th:value="${master.getId() + ': ' + master.getNormName()}"></option>
              </datalist>

              <br>
              <label for="">От продаж:</label>
              <input class="formBase" list="salesmans" name="salesman" th:value="${object.getSalesman() == null ? '' : object.getSalesman().getId() + ': ' + object.getSalesman().getNormName()}" onchange="resetIfInvalid(this);" placeholder="Выбрать продажника">
              <datalist id="salesmans">
                  <option class="formBase" th:each="sales : ${saleses}" th:value="${sales.getId() + ': ' + sales.getNormName()}"></option>
              </datalist>

              <p align="center"><input class="formBase formButton" type="submit" value="Изменить"></p>
              <p class="" th:text="${info}"/>
            </div>

    </div>
    </div>
    </form>
    <br>

    </div>
    <script>
      function resetIfInvalid(el){
         //just for beeing sure that nothing is done if no value selected
         if (el.value == "")
             return;
         var options = el.list.options;
         for (var i = 0; i< options.length; i++) {
             if (el.value == options[i].value)
                 //option matches: work is done
                 return;
         }
         //no match was found: reset the value
         el.value = "";
      }
    </script>
  </body>
</html>
