<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Изменить вид работ</title>
    <link href="/styles.css" rel="stylesheet">
    <link type="image/png" sizes="192x192" rel="icon" href="/favicon-192x192.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png">
  </head>
  <body>

    <div th:insert="blocks/head :: ${head}"></div>
    <div class="page" align="center">

      <br>
      <div class="regularDiv regularBorder regularBlur">
        <form class="" style="padding-bottom: 0;" th:action="@{/price-list/works/} + ${city} + @{/edit-price-work/} + ${priceWork.getId()}" method="get">
            <input type="text" name="back" th:value="${back}" hidden>
            <select class="formBase" style="margin-bottom: 0; max-width: 100%;" name="section" onchange="this.form.submit()" required="required">
              <option class="formBase" th:each="section : ${sections}" th:selected="${editedSection ? sectionId == section.getId() : priceWork.getSubsection().getSection().getId() == section.getId()}" th:value="${section.getId()}" th:text="${section.getName()}"></option>
            </select>
        </form>

        <form class="" th:action="@{/price-list/works/} + ${city} + @{/edit-price-work/} + ${priceWork.getId()}" method="post">
            <input type="text" name="back" th:value="${back}" hidden>

            <select class="formBase" style="width: 100%;" name="subsection" th:if="${subsections != null}" required="required">
              <option class="formBase" th:each="subsection : ${subsections}" th:selected="${subsection.getId() == priceWork.getSubsection().getId()}" th:value="${subsection.getId()}" th:text="${subsection.getName()}"></option>
            </select>

            <select class="formBase" name="city" required="required">
              <option class="formBase" value="-1" selected>Общий прайс</option>
              <option class="formBase" th:each="cityy : ${cities}" th:selected="${priceWork.getCity() == null ? 'false' : cityy.getKey() == priceWork.getCity().getAbbr()}" th:value="${cityy.getKey()}" th:text="${cityy.getValue()}"></option>
            </select>
            <br>

            <input class="formBase" style="width: calc(80% - 40px);" type="text" placeholder="Название работ" name="name" th:value="${priceWork.getName()}" required="required">
            <select class="formBase" style="width: 20%;" name="measurement" placeholder="Ед. изм."  required="required">
              <option class="formBase" th:each="measurement : ${measurements}" th:selected="${measurement.getKey() == priceWork.getMeasurement().getAbbr()}" th:value="${measurement.getKey()}" th:text="${measurement.getValue()}"></option>
            </select>
            <br>
            <input class="formBase" style="width: 100px;" type="number" step=".01" min="0" placeholder="Стоимость" name="price" th:value="${priceWork.getPrice()}" required="required">
            <br>

            <input class="formBase" id="copyFrom" style="width: 80%;" align="left" list="mats" name="priceMat" onchange="resetIfInvalid(this);" placeholder="Привязанный материал" th:value="${priceWork.getPriceMat() == null ? '' : priceWork.getPriceMat().getId() + ': ' + priceWork.getPriceMat().getName() + ' [' + priceWork.getPriceMat().getMeasurement().getName() + ']' }">
            <datalist id="mats">
                <option class="formBase" th:each="priceMat : ${priceMats}" th:value="${priceMat.getId() + ': ' + priceMat.getName() + ' [' + priceMat.getMeasurement.getName() + ']' }"></option>
            </datalist>

            <br>
            <input class="formBase" type="number" min="1.0" step="1" oninput="this.value = Math.round(this.value);" th:value="${priceWork.getOrderNum()}" placeholder="Порядковый номер" name="orderNum" required="required">
            <br>
            <label for="deleted"><p style="display: inline-block;">Удалённый: </p></label>
            <input class="formBase" id="deleted" type="checkbox" name="deleted" th:checked="${priceWork.isDeleted()}">

          <p><input class="formBase formButton" type="submit" value="Изменить"></p>
          <p class="" th:text="${info}"/>
        </form>

      </div>


  </div>
  <script>
    function resetIfInvalid(el){
       //just for beeing sure that nothing is done if no value selected
       if (el.value == "")
           return;
       var options = el.list.options;
       for (var i = 0; i< options.length; i++) {
           if (el.value == options[i].value)
               //option matches: work is done
               return;
       }
       //no match was found: reset the value
       el.value = "";
    }
  </script>
  </body>
</html>
