<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создать заявку</title>
    <link href="/styles.css" rel="stylesheet">
    <link type="image/png" sizes="192x192" rel="icon" href="/favicon-192x192.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png">
  </head>
  <body>

    <div th:insert="blocks/head :: ${head}"></div>
    <div class="page" align="center">

      <br>
      <div class="regularDiv regularBorder regularBlur">
        <form class="" action="/snab-requests/new-snab-request" method="post">
          <input type="text" name="back" th:value="${back}" hidden>

          <input class="topButton headerBlur formBase" style="width: calc(100% - 130px); display: inline-block; margin: 0;" list="objects" name="object" onchange="resetIfInvalid(this);" placeholder="Объект" required>
          <datalist id="objects" required="required">
              <option class="formBase" th:each="object : ${objects}"  th:value="${object.getNormName()}"></option>
          </datalist>
          <br>
          <label for="date"><p style="display: inline-block;">K:</p></label>
          <input class="formBase" id="date" type="date" placeholder="К" name="date">
          <br>
          <textarea class="textareaSnabrequests formBase" style="display: inline-block;" rows="2" placeholder="Примечание" name="note"></textarea>
          <br>

          <p><input class="formBase formButton" type="submit" value="Создать"></p>
          <p class="" th:text="${info}"/>
        </form>

      </div>


  </div>
  <script>
    function resetIfInvalid(el){
       //just for beeing sure that nothing is done if no value selected
       if (el.value == "")
           return;
       var options = el.list.options;
       for (var i = 0; i< options.length; i++) {
           if (el.value == options[i].value)
               //option matches: work is done
               return;
       }
       //no match was found: reset the value
       el.value = "";
    }
  </script>
  </body>
</html>
